.holder{
    background: #fff;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li{
    padding: 20px;
    font-size: 1.3em;
    background-color: #f5cd79;
    border-left: 5px solid #574b90;
    border-right:5px solid #574b90;
    margin-bottom: 2px;
    color: #303952;
}

p{
    text-align: center;
    padding: 30px 0;
    color: #3d3d3d;
}

.container{
    box-shadow: 0px 0px 40px lightgrey;
}

input{
    width: calc(100% - 40px);
    border: 0;
    padding: 20px;
    font-size: 1.3em;
    background-color: #323333;
    color: #687f7f;
}

/* .alert{
    background: #fdf2ce;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin-top: -20px;
} */